Setup

In [1]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1. Sort `vehicles` by fuel from A to Z.

In [3]:
vehicles.sort_values(
    by = 'fuel',
    ascending = True
)

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
604,12912,suburban 4wd,2022,auto,chevrolet,suv,biodiesel (b20),dedicated,26.0
123,12038,terrain awd,2019,auto,gmc,suv,biodiesel (b20),dedicated,38.0
564,12036,cruze hatchback,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,45.0
1223,11833,equinox fwd,2018,auto,chevrolet,suv,biodiesel (b20),dedicated,29.0
1241,11836,canyon 4wd,2018,auto,gmc,pickup,biodiesel (b20),dedicated,28.0
...,...,...,...,...,...,...,...,...,...
925,21,econoline clubwagon,1998,auto,ford,van,propane,dual/bi-fueled,17.0
451,220,express,2002,auto,quantum-procon,van,propane,dedicated,18.0
1128,221,express,2002,auto,quantum-procon,van,propane,dedicated,18.0
1486,15,f-150,1998,unknown,ford,pickup,propane,dual/bi-fueled,18.0
89,42,econoline,1999,auto,ford,van,propane,dual/bi-fueled,17.0

2. Sort `vehicles` by `best_mpge` from highest to lowest. From the result, select the first 25 rows and the columns from `year` through `vehicle_type`.

In [6]:
sorted_vehicles = vehicles.sort_values(
    by = 'best_mpge',
    ascending = False
)

sorted_vehicles.iloc[:25,2:6]

      year transmission manufacturer vehicle_type
159   2018         auto      hyundai  sedan/wagon
511   2021         auto        tesla  sedan/wagon
1507  2017         auto      hyundai  sedan/wagon
2142  2019         auto      hyundai  sedan/wagon
647   2020         auto        tesla  sedan/wagon
230   2020         auto      hyundai  sedan/wagon
537   2021         auto      hyundai  sedan/wagon
1268  2021         auto        tesla  sedan/wagon
1370  2019         auto        tesla  sedan/wagon
1597  2022         auto        tesla          suv
1332  2021         auto        tesla          suv
194   2022         auto        tesla  sedan/wagon
88    2020         auto        tesla  sedan/wagon
2426  2019         auto        tesla  sedan/wagon
1564  2014         auto        scion  sedan/wagon
837   2013         auto        scion  sedan/wagon
1611  2016         auto          bmw  sedan/wagon
832   2017         auto          bmw  sedan/wagon
1246  2015         auto          bmw  sedan/wagon
2379  2018         auto        tesla  sedan/wagon
1120  2019         auto        tesla  sedan/wagon
1767  2020         auto        tesla  sedan/wagon
2448  2022         auto          kia  sedan/wagon
1680  2022         auto        tesla  sedan/wagon
1901  2022         auto          kia  sedan/wagon

3. Sort `vehicles` by fuel from A to Z, and then for each fuel by `best_mpge` from highest to lowest.

In [9]:
orderedfuel = vehicles.sort_values(
    by = 'fuel'
)

ordered = orderedfuel.sort_values(
    by = 'best_mpge',
    ascending = False
)

ordered.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
2142,12061,ioniq electric,2019,auto,hyundai,sedan/wagon,electric,dedicated,150.0
511,12752,model 3 standard range plus rwd,2021,auto,tesla,sedan/wagon,electric,dedicated,150.0
159,11844,ioniq electric,2018,auto,hyundai,sedan/wagon,electric,dedicated,150.0
1507,11640,ioniq,2017,auto,hyundai,sedan/wagon,electric,dedicated,150.0
647,12370,model 3 standard range plus,2020,auto,tesla,sedan/wagon,electric,dedicated,148.0

4. Use Python code to check if `'auto'` is equal to `'manual'`.

In [11]:
'auto' == 'manual'

False

5. Create a Boolean mask that is `True` whenever `transmission` is `manual`.

In [14]:
manual_transmission = vehicles['transmission'] == 'manual'

6. Use the Boolean mask from 5 to filter `vehicles` down to only manual transmission vehicles. Assign the result to the variable `manual`.

In [15]:
manual = vehicles[manual_transmission]

7. We've created a count of manual transmission vehicles by year. Add code to sort the result by year from earliest to latest. What do you notice?

In [24]:
manual['year'].value_counts().sort_index()

2001    1
2002    8
2003    2
2004    2
2005    2
2006    1
2007    1
2010    1
2011    4
2012    1
2017    2
2018    2
Name: year, dtype: int64

8. Create a Boolean mask that is `True` when `vehicle_type` is `suv` or `pickup`. Filter `vehicles` down to only the `True` rows.

In [27]:
suv = vehicles['vehicle_type'] == 'suv'
pickup = vehicles['vehicle_type'] == 'pickup'

suv_pickup = suv | pickup

vehicles[suv_pickup]

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
5,12302,silverado 4wd,2020,auto,chevrolet,pickup,ethanol (e85),flexible fuel,18.0
6,12989,amg gle 53 4matic+ (coupe),2022,auto,mercedes-benz,suv,hybrid electric,hybrid electric,21.0
8,10584,sierra c / k 1500,2013,auto,gmc,pickup,ethanol (e85),flexible fuel,18.0
...,...,...,...,...,...,...,...,...,...
2510,11664,journey,2017,auto,dodge,suv,ethanol (e85),flexible fuel,25.0
2512,12998,sierra 4wd - mud terrain tires,2022,auto,gmc,pickup,ethanol (e85),flexible fuel,16.0
2513,885,tahoe 1500 hybrid,2009,auto,chevrolet,suv,hybrid electric,hybrid electric,20.0
2514,12823,defender 110 mhev,2022,auto,land rover,suv,hybrid electric,hybrid electric,22.0
2515,11559,gla 250 4matic,2016,auto,mercedes-benz,suv,ethanol (e85),dedicated,32.0

9. Create a Boolean mask that is `True` when `vehicle_type` is neither `suv` nor `pickup`. Filter `vehicles` down to only the `True` rows.

In [28]:
not_suv_pickup = ~suv_pickup

vehicles[not_suv_pickup]

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0
7,12875,avalon hybrid,2022,auto,toyota,sedan/wagon,hybrid electric,hybrid electric,43.0
10,10539,fortwo,2013,unknown,smart,sedan/wagon,electric,dedicated,112.0
...,...,...,...,...,...,...,...,...,...
2511,11138,"express 3500, 2wd",2014,auto,chevrolet,van,ethanol (e85),flexible fuel,16.0
2516,12941,sienna awd,2022,auto,toyota,van,hybrid electric,hybrid electric,36.0
2517,457,grand caravan ffv,2006,auto,dodge,van,ethanol (e85),flexible fuel,26.0
2518,12706,santa fe hybrid,2021,auto,hyundai,sedan/wagon,hybrid electric,hybrid electric,33.0
2519,12390,ioniq,2020,auto,hyundai,sedan/wagon,hybrid electric,hybrid electric,55.0

10. Create a Boolean mask that is `True` whenever `fuel` is `hybrid electric` and `best_mpge` is below average (less than 40). Filter `vehicles` down to only the rows that are `True`.

In [33]:
hybrid_electric = vehicles['fuel'] == 'hybrid electric'
mpge_b40 = vehicles['best_mpge'] < 40

combined = hybrid_electric & mpge_b40

vehicles[combined]

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
6,12989,amg gle 53 4matic+ (coupe),2022,auto,mercedes-benz,suv,hybrid electric,hybrid electric,21.0
9,12864,x6 xdrive40i,2022,auto,bmw,suv,hybrid electric,hybrid electric,25.0
14,12599,a5 quattro,2021,auto,audi,sedan/wagon,hybrid electric,hybrid electric,31.0
18,695,sierra,2007,auto,gmc,pickup,hybrid electric,hybrid electric,21.0
...,...,...,...,...,...,...,...,...,...
2508,12128,nsx hybrid,2019,auto,acura,sedan/wagon,hybrid electric,hybrid electric,22.0
2513,885,tahoe 1500 hybrid,2009,auto,chevrolet,suv,hybrid electric,hybrid electric,20.0
2514,12823,defender 110 mhev,2022,auto,land rover,suv,hybrid electric,hybrid electric,22.0
2516,12941,sienna awd,2022,auto,toyota,van,hybrid electric,hybrid electric,36.0
2518,12706,santa fe hybrid,2021,auto,hyundai,sedan/wagon,hybrid electric,hybrid electric,33.0